{% extends "nav_page.html" %}

{% block title %}
    - kontakt
{%  endblock %}

{% block content %}
    <div>
        <h2>Kontakt z nami</h2>
        <p>
            Jeśli masz jakieś pytania, zadzwoń pod numer <a href="tel:78937823008">78937823008</a> lub napisz do nas na adres <a href="mailto:cinema@kontakt.com"> cinema@kontakt.com</a>
        </p>
        <div>
            <p>Adres naszej siedziby:</p>
            <address>
                ulica Mostowa 14/34 <br>
                00-000 Warszawa
            </address>
        </div>
    </div>
{%  endblock %}